{% extends "about/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Search | Battery Data{% endblock %}

{% block content %}
    <div class="container page-container">

        <div class="row">
            <div class="col-sm-8">
        <h1 class="font-weight-normal" style="color: #002b04">BatterySearch</h1>
                <p >Search queries about the battery database. <br> </p>
            <p>You can currently ask question about the most commonly used device material in terms of years. </p>
            </div>
                  <div class="col-sm-1 text-center">
{#              <img class="img-feature" src="/static/images/battery-logo-ico.ico">#}
          </div>
            </div>

        <form class="form py-3" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <ul class="nav nav-tabs " role="tablist">
        <li class="nav-item ">
            <a class="nav-link" id="text-tab" data-toggle="tab" href="#tab-text" role="tab" aria-controls="text" aria-selected="false">Search the database</a>
        </li>
          <li class="nav-item">
            <a class="nav-link active" id="example-tab" data-toggle="tab" href="#tab-example" role="tab" aria-controls="example" aria-selected="true">Examples</a>
        </li>

      </ul>
    <div>
      <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="tab-text">
          {{ form|crispy }}

{#          <div class="form-group col-sm-8">#}
            <button id="id_submit" class="btn btn-outline-dark mr-2" disabled>Submit</button>
{#          </div>#}
      </div>

      <div role="tabpanel" class="tab-pane active" id="tab-example">

        <div class="panel panel-default panel-results">
            <div class="row">
                <div class="col-xs-12 col-sm-10 py-2" >
                  <img class="doc-icon" src="/static/images/document.svg">
                  <div class="doc-meta">
                    <p class="text-tiny">
                        <strong>Search Query: </strong> What's the most commonly used anode material in 2015?
                     </p>
                      <p class="alert alert-success text-note">
{#                        <strong>Note: </strong>#}
                            Find the anode material in the dataset.
                      </p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <a class="btn btn-success btn-sm" href="{% url 'batteryqa-search-results-example' 1 %}">Show Results <i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
              </div>
          </div>
          <div class="panel panel-default panel-results">
        <div class="row">
                <div class="col-xs-12 col-sm-10 py-2">
                  <img class="doc-icon" src="/static/images/document.svg">
                  <div class="doc-meta">
                    <p class="text-tiny">
                            <strong>Search Query: </strong> What popular electrolyte material was used in 1999?
                     </p>
                      <p class="alert alert-success text-note">
{#                        <strong>Note: </strong>#}
                            Ask the similar question in another way.
                      </p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <a class="btn btn-success btn-sm" href="{% url 'batteryqa-search-results-example' 3 %}">Show Results <i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
              </div>
          </div>
          <div class="panel panel-default panel-results">
        <div class="row">
                <div class="col-xs-12 col-sm-10 py-2">
                  <img class="doc-icon" src="/static/images/document.svg">
                  <div class="doc-meta">
                    <p class="text-tiny">
                            <strong>Search Query: </strong> Cathode 2021
                     </p>
                      <p class="alert alert-success text-note">
{#                        <strong>Note: </strong>#}
                            You can also simply type "device name and year" to get the answer.
                      </p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <a class="btn btn-success btn-sm" href="{% url 'batteryqa-search-results-example' 2 %}">Show Results <i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
              </div>
          </div>

           <div class="panel panel-default panel-results">
        <div class="row">
                <div class="col-xs-12 col-sm-10 py-2">
                  <img class="doc-icon" src="/static/images/cde-logo.svg">
                  <div class="doc-meta">
                    <p class="text-tiny">
                            <strong>Search Query: </strong> Do you like this database?
                     </p>
                      <p class="alert alert-warning text-note">
{#                        <strong>Note: </strong>#}
                            Irrelevant questions cannot be answered as there is no answer in the back-end answer dataset.
                          <br><strong>More search function is still being developed at the moment.</strong>
                      </p>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                  <a class="btn btn-warning btn-sm" href="{% url 'batteryqa-search-results-example' 4 %}">Show Results <i class="glyphicon glyphicon-chevron-right"></i></a>
                </div>
              </div>
          </div>
      </div>

      </div>
    </div>
      </form>
      </form>
    </div>
{% endblock %}


{#{% block scripts %}#}
{#  {{ super() }}#}
{#  <script src="{{ url_for('static', filename='js/demo.js') }}"></script>#}
{#{%- endblock scripts %}#}