{% extends "about/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Search | Battery Data{% endblock %}

{% block content %}
    <div class="container page-container">
        <h1>BatterySearch</h1>
        <h6>(DEMO) Ask a question</h6>
        <form class="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-inline">
                <div class="form-group ">
                    {{ form|crispy }}
                </div>
            </div>
            <br>
            <div class="form-group">
                <button id="submit-file" class="btn btn-lg btn-primary ">Submit</button>
            </div>
      </form>
    </div>
{% endblock %}


{#{% block scripts %}#}
{#  {{ super() }}#}
{#  <script src="{{ url_for('static', filename='js/demo.js') }}"></script>#}
{#{%- endblock scripts %}#}