{% extends "about/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Register | BatteryData{% endblock %}

{% block content %}
    <div class="container mt-2 mb-4">
        <div class="section section-default">
            <div class="col-sm-8">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-3">Join Today</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already Have An Account? <a class="ml-2" href="#">Sign In</a>
                    </small>
                </div>
                </div>
        </div>
    </div>
{% endblock content %}