{% extends "about/base.html" %}

{% block title %}Acknowledgements | Battery Data{% endblock %}

{% block content %}
  <div class="container page-container">
      <div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">Acknowledgements:</h1>
{#    <p class="feature-display">Cite the following work for BatteryDataExtractor:</p>#}
        <p class="lead">This project was financially supported by the <a href="https://stfc.ukri.org/">Science and Technology Facilities Council (STFC)</a>, <a href="https://www.raeng.org.uk">the Royal Academy of Engineering</a> (RCSRF1819\7\10) and <a href="https://www.christs.cam.ac.uk">Christ's College, Cambridge</a>. The Argonne Leadership Computing Facility, which is a <a href="https://science.osti.gov">DOE Office of Science Facility</a>, is also acknowledged for use of its research resources, under contract No. DEAC02-06CH11357.</p>
        </div>
    </div>
  </div>
{% endblock %}