{% extends "about/base.html" %}

{% block title %}Contact | Battery Data{% endblock %}

{% block content %}
  <div class="container page-container">
{#    <h1>Contact Us</h1>#}
{#    <p>Got a bug report or feature request? Leave a message on the <a href="https://github.com/ShuHuang/batterydatabase/issues">Issue Tracker</a>.</p>#}
{#  </div>#}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">Got a bug report or feature request? Leave a message on the <a href="https://github.com/ShuHuang/batterydatabase/issues">Issue Tracker</a>.</p>
{#      <p>...</p>#}
    </div>
</div>
  </div>
{% endblock %}